.card-header {
	font-size: 2rem;
	background-color: #1310c7;
	font-family: 'Skranji', cursive;

}

h1 {
	color: #d36a09;
	font-weight: bold;
	font-size: 4rem;
}

h3 {
	font-size: 2rem;
	color: #11aac5;
}

h2 {
	color: #08b481;
}

.card-body {
	background-color: #e2e1e0;

}

.card-text {
	font-size: 17px;
	font-family: sans-serif;
}

.col-4 img {
	padding-left: 50px;
}

.jumbotron {
	height: 100%;
	margin-left: 20px;
}

#options {
	margin: 10px 50px 10px 50px;
}

footer {
	background-color: #3C2B1B;
	color: #ccc9c9;
	/*height: 70px;*/
	font-size: 13px;
}

.btn-outline-secondary {
	padding: 4px;
	background-color: white;
	font-size: 15px;
}

.card {
	width: 365px;
}

.burger-div {
	padding-bottom: 7px;
}
